@font-face {
	font-family: 'Santio bold';
	src: url(../fonts/SANTIO/TTF/Santio\ Bold.ttf);
}
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'Tangerine';
	src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

/* Farbe: #e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff */
*/

/* -- general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

h1 {
	color: #fff;
	font-family: 'Santio bold';
	font-size: 5rem;
	text-transform: uppercase;
	max-width: 42rem;
}

h2 {
	color: #fff;
	font-family: Santio bold;
	font-size: 4.7rem;
	margin-top: 12.4rem;
	text-transform: uppercase;
	width: 21rem;
}

span {
	background-color: rgb(41, 41, 41);
	color: #fff;
	padding: 0 0.6rem 0.6rem 0.6rem;
}

p {
	color: #fff;
	font-family: 'Santio bold';
	font-size: 2rem;
}

a {
	color: #fff;
}

/* -- content */
/* header+main - background */
/* parallax scroll effect */
.parallax {
	/* The image used */
	background-image: url('../img/cleo-topper.jpg');

	/* Set a specific height */
	min-height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* -- header */
.header {
	padding: 0.2rem 7rem 0 8.5rem;
	position: relative;
}

.header__img {
	margin: 1rem 10rem 0 0;
	padding-right: 4.4rem;
	position: absolute;
	right: 0;
	width: 1rem;
}

.header__link {
	font-family: Roboto;
	font-weight: normal;
	margin: 1rem 8.5rem;
	position: absolute;
	right: 0;
	text-decoration: underline #e7bc0e;
	text-underline-position: under;
	font-size: 0.9rem;
}

.header__link:hover {
	color: #e7bc0e;
}

.transparent {
	background-color: rgb(13 13 4 / 59%);
	z-index: 9999;
}

/* -- main */
/* main - general */
.page {
	height: 100vh;
}

/* text-style */
.text--normal {
	margin: 0.2rem 0;
	text-transform: uppercase;
}

/* text on page one */
.text--italic {
	/* TODO arrow */
	font-family: Tangerine;
	font-size: 2rem;
	padding-left: 8.5rem;
	font-weight: bold;
}

.text--big {
	font-size: 7.4rem;
	line-height: 6.4rem;
	margin: 0;
	padding: 0rem 0 1rem 0;
}

.text--yellow {
	color: #e7bc0e;
}

.text--pink {
	color: #cb91b6;
}

.text--green {
	color: #6bc1a3;
}

.text--blue {
	color: #7eb8e1;
}

/* - page one */
.page__one .text--green {
	font-size: 1.8rem;
	line-height: 3rem;
	margin-top: 23rem;
	padding: 0 34.5rem 0 15.5rem;
}

/* - page two */
.page__two {
	margin-top: 21rem;
	padding: 0 8.5rem;
}

/* icon-size */
.page__img {
	width: 8rem;
}

.page__img--1 {
	padding: 9.5rem 0;
}

.page__img--2 {
	padding: 11rem 0 2.5rem 0;
}

.page__img--3 {
	padding: 11rem 0;
}

/* - page three */
.page__three {
	padding: 63rem 8rem 0 29rem;
	height: 20%;
}

.page__three .text--blue {
	font-size: 1.8rem;
	line-height: 2.7rem;
	margin: 4.7rem 0 0 0;
	padding-bottom: 6rem;
}

/* -- footer */
.footer {
	background-color: #000;
	position: sticky;
	margin-bottom: 0;
}

.footer__wrapper {
	padding: 7rem 8.5rem 2rem 8.5rem;
}

.footer__img {
	background-color: rgb(240 240 230);
	background-image: url(../img/see.png);
	background-size: cover;
	margin-bottom: 8rem;
	width: 100%;
}

/* button */
.btn {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-size: 1.5rem;
	padding: 0.9rem 1.8rem;
}

.btn:hover {
	box-shadow: 5px 5px #fff;
}

.footer__text {
	font-family: 'Roboto';
	font-size: 0.7rem;
	margin: 15rem 0 7rem 0;
	text-align: center;
}

.footer__link {
	font-size: 0.7rem;
	text-decoration: none;
}

.footer__link:hover {
	text-decoration: underline;
}
